---
---
<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}

  <body>
    <header class="site-header">
      {% include header_navbar.html %}
      <div class="container">
        <div class="site-title">
          <img src="{{ "/assets/img/logo.jpg" | relative_url }}" height="150">
          <h1>{{ site.title }}</h1>
        </div>
        <blockquote class="site-quote">Wir müssen keine perfekten Helden sein, aber wir haben die Pflicht zu handeln, selbst wenn es scheint, dass wir mit einem Löffel den Ozean ausschöpfen. (Roman Herzog)
        </blockquote>
      </div>
    </header>

    <main class="container">
      <div class="row">
        <div class="col-sm-3">
          <h2><a href="{{ "/unterkunft" | relative_url }}">Unterkunft</a></h2>
          <p>Belegung der hier in Möglingen aufgenommenen Asylbewerber: 113 Asylbewerber in zwei Sammelunterkünften und in dezentralen Wohnungen</p>
        </div>
        <div class="col-sm-3">
          <h2><a href="{{ "/beraten" | relativ_url }}">Beraten</a></h2>
          <p>Beratung im Asylverfahren und Vermittlung in örtliche Strukturen: Kindergärten, Schulen, Vereine und Deutschkurse.</p>
        </div>
        <div class="col-sm-3">
          <h2><a href="{{ "/begleiten" | relativ_url }}">Begleiten</a></h2>
          <p>Begleitung bei Behördengängen und Hilfe bei Arztbesuchen.  Notwendige Hilfe anbieten zur Selbsthilfe</p>
        </div>
        <div class="col-sm-3">
          <h2><a href="{{ "/mitmachen" | relativ_url }}">Mitmachen</a></h2>
        </div>
      </div>
    </main>

    {% include _footer.html %}
  </body>
</html>
