<header class="header">
  <div class="site-header">
    <div class="container">
      <nav class="nav site-nav">
        <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title }}</a>
      </nav>
    </div>
  </div>

  <nav>
    <ul>
    {% for link in site.data.navigation %}{% if link.href == page.dir %} {% assign class = "current" %} {% else %} {% assign class = "normal" %} {% endif %}
      <li>
        <a href="{% if link.external == false %}{{ site.url }}{{ site.baseurl }}{{ link.href }}{% endif %}{% if link.external == true %}{{ link.href }}{% endif %}">{{ link.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </nav>
</header>
