---
---
body {
  font-family: sans-serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: normal;
  color: #212121;
}

.site-header h1 {
  color: #ffffff;
}

a:link {
  color: #388e3c;
}

a:hover,
a:focus {
  color: #536dfe;
}

.site-header {
  background-color: #4caf50;
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
}
.navbar {
  padding-bottom: 2rem;
}
.site-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  padding-bottom: 2rem;
}
.site-quote {
  font-size: 1.3rem;
  color: #b2dfdb;
}
.site-quote:before {
  content: open-quote;
  font-size: 2rem;
}

.index-header {
  background: center center no-repeat;
  background-image: url('{{ "/assets/img/background-moeglingen.jpg" | relative_url }}');
  background-size: cover;
}

@media (min-width: 40em) {
  .site-title {
    font-size: 3rem;
  }
}

a.nav-link {
  color: #b2dfdb;
}
a.navbar-brand,
a.navbar-brand:hover,
a.navbar-brand:focus,
a.nav-link:hover,
a.nav-link:focus {
  color: #ffffff;
}
